


main .left .every_day{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #5f5f5f;
}
main .left .every_day .title{
    color: blueviolet;
}
main .left .every_day .con{
    height: 30px;
    line-height: 30px;
}
main .left .every_day .auther{
    float:right;
}

main .left article{
    /* height: 167px; */
    box-sizing: border-box;
    margin-top: 25px;
    box-shadow: 1px 1px 10px #5f5f5f;
}
main .left article h3 a{
    color: #000;
}
main .left article .con{
    margin-top: 10px;
    overflow: hidden;
    height: 84px;
}
main .left article .conWrapper{
    padding: 15px;
}
main .left article .foot{
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 14px;
    width: 100%;
    color: #fff;
    height: 28px;
    line-height: 28px;
    background-color: #000;
}


.page_tool {
    margin-top: 20px;
    display: inline-block;
}

.page_tool > ul > li {
    display: inline-block;
    list-style: none;
    width: 35px;
    height: 35px;
    background: pink;
    line-height: 35px;
    background: white;
    text-align: center;
    border: 1px solid black;
    float: left;
    cursor: pointer;
    font-size: 12px;
}
.page_tool > ul > li.prev_page,
.page_tool > ul >li.next_page{
    width: 60px;
}

.page_tool > ul > li:hover {
    background: gray;
}

.now_page {
    background: #333 !important;
    color: #fff !important;
}





