*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f3ef;
}
a{
    text-decoration: none;
}
/* h2.siteTitle{
    margin-top: 80px;

    text-align: center;
    height: 80px;
    line-height: 80px;
} */

.siteNav{
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ddd;
    /* clear: both; */
    width: 1170px;
    margin:0 auto;
    margin-top: 80px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #5f5f5f;
}

.siteNav a{
    color: #000;
}
.siteNav a:nth-of-type(1){
    /* font-size: 16px;    */
    font-weight: 28;
}
.siteContent{
    box-sizing: border-box;
    width: 1170px;
    border: 1px solid #ddd;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #5f5f5f;
}
.siteContent .title{
    padding: 15px;
    font-size: 18px;
    font-weight: bolder;
}
.siteContent ul{
    padding: 6px 15px 10px 30px;
}
.siteContent ul li{
    list-style: none;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
.siteContent ul li a{
    color: #000;
}
.siteContent ul li a:hover{
    color: blue;
}
