<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./imgs/ico.ico" />
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/about.css">
    <title>张印个人博客 | 技术博客</title>
</head>

<body>
    <header>
        <div class="w content">
            <div class="left ">
                <ul>
                    <li>
                        <a>
                            张印个人博客 | 技术博客
                        </a>
                    </li>
                    <li>
                        <a href="/index.html">首页</a>
                    </li>
                    <li>
                        <a href="/siteMap.html">地图</a>
                    </li>
                    <li>
                        <a href="/about.html">关于</a>
                    </li>
                    <li>
                        <a href="/guestbook.html">留言</a>
                    </li>
                </ul>

            </div>
            <div class="right">
                <input type="text" placeholder="输入关键词查找">
                <button>搜索</button>
            </div>
        </div>
    </header>

    <main class="aboutMain">
        <div class="w cl">
            <div class="left">
                <div class="about">
                    <div class="aboutMe">
                        <h2>关于我</h2>
                        <div class="about_con">
                            <p>博主张印,男，在校学生，大三</p>
                            <p>准备找实习...</p>
                            <p>技术栈：web前端/node.js/java/ linux / mysql</p>
                            <p>准备学：java(深入学习)</p>
                            <p>喜欢语句：学习是一种生活方式</p>
                            <p>热爱技术，热爱编程,想成为架构师，自己开公司，自己创业</p>
                            <p>我的Github：<a href="https://github.com/mytheart">https://github.com/mytheart</a></p>
                            <p>邮箱：<a href="#">mytheart@163.com</a> </p>
                        </div>

                    </div>
                    <div class="aboutBlog">
                        <h2>关于博客</h2>
                        <div class="about_con">
                            <p>2019.5月开始建站,将会不断持续更新维护...</p>
                            <p>域名：mytheart.cn （对自己来说这个域名有含义）</p>
                            <p>技术栈：</p>
                            <p>前端：Vue / Vue-cli / Vuex / element-ui</p>
                            <p>后台：node.js + express</p>
                            <p>服务器：阿里云 linux（centos7）</p>
                            <p>刚建站，样式比较单调，请勿见怪</p>
                            <p>下一步准备做移动端适配和样式重构</p>
                            <p>大四开始找实习,有看上的请私信我邮箱</p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="right">
                <div class="randomTags" id="random_tags">
                    <p class="title">随机标签云</p>
                    <div class="con">
                        <span v-for="item,index in tags" :key="index"><a :href="item.link"
                                :style="{color:randomColor(),fontSize:randomSize()}">{{item.tag}}</a></span>
                    </div>
                </div>

                <div class="recentHot" id="newHot">
                    <p class="title">最近热门</p>
                    <div class="con">
                        <ul>
                            <li v-for="item,index in titleList" :key="index">
                                <a :href="item.link">{{item.title}}</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="recentComment" id="newComment">
                    <p class="title">最新评论</p>
                    <ul class="con">
                        <li v-for="item,index in commentList" :key="index">
                            <p>
                                <span class="name">{{item.name}}</span>
                                <span class="time">{{item.data}}</span>
                            </p>
                            <a href="#">{{item.comment}}</a>
                        </li>
                    </ul>
                </div>


                <div class="recom_site">
                    <p class="title">推荐站点 | 作品链接</p>
                    <ul class="con">
                        <li>
                            <a href="https://www.runoob.com/">菜鸟教程</a>
                        </li>
                        <li>
                            <a href="https://github.com">Github</a>
                        </li>
                        <li>
                            <a href="https://leetcode-cn.com/">leetcode</a>
                        </li>
                        <li>
                            <a href="https://www.bilibili.com/">哔哩哔哩</a>
                        </li>
                        <li>
                            <a href="https://ke.qq.com/">腾讯课堂</a>
                        </li>
                        <li>
                            <a href="https://www.nowcoder.com/">牛客网</a>
                        </li>

                        <li>
                            <a href="https://www.csdn.net/">CSDN</a>
                        </li>
                        <li>
                            <a href="https://www.zhipin.com/">BOSS直聘</a>
                        </li>
                        <li>
                            <a href="http://m.panduoduo.net/">盘多多</a>
                        </li>
                        <li>
                            <a href="https://tieba.baidu.com">百度贴吧</a>
                        </li>
                        
                        <li>
                            <a href="https://mytheart.github.io/my-projects/projects/snake/">贪吃蛇</a>
                        </li>
                        <li>
                            <a href="https://mytheart.github.io/my-projects/projects/mineClearance/">扫雷</a>
                        </li>
                        <li>
                            <a href="https://mytheart.github.io/my-projects/projects/chatbot/">聊天机器人</a>
                        </li>
                        <li>
                            <a href="https://mytheart.github.io/my-projects/projects/JD/">京东首页</a>
                        </li>
                    </ul>
                </div>

            </div>



        </div>
    </main>

    <footer>
        <ul class="tags">
            <li><a href="#">javaScript</a></li>
            <li><a href="#">Linux</a></li>
            <li><a href="#">Vue.js</a></li>
            <li><a href="#">node.js</a></li>
            <li><a href="#">React.js</a></li>
            <li><a href="#">webpack</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">Es6</a></li>
            <li><a href="#">bootstrap</a></li>
            <li><a href="#">java</a></li>
            <li><a href="#">mysql</a></li>
            <li><a href="#">数据结构和算法</a></li>
            <li><a href="#">学习经验</a></li>
            <li><a href="#">学习笔记</a></li>
            <li><a href="#">视频分享</a></li>
        </ul>
        <p>Copyright © 2019-2019 张印个人博客 All rights reserved. 由免费开源的WordPress强力驱动. 鲁ICP备14017955号站长统计</p>
    </footer>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/base.js"></script>
    <script src="./js/about.js"></script>
</body>

</html>